<html>
  <head>
    <%- include('header')-%>
    <script>
      console.log('<%-JSON.stringify(loggedinUser)%>');
    </script>
    <%- include('navbar') -%>
  </head>

  <body onload>
    <h1><%= title %></h1>
    <a href="/login">Proceed to login page</a>
  </body>
</html>
