<html>
  <head>
    <%- include('header')-%>
    <script>
      console.log('<%-JSON.stringify(loggedinUser)%>');
    </script>
    <%- include('navbar') -%>
  </head>

  <body onload>
    <h1><%= title %></h1>
    <a href="/login">Proceed to login page</a>
    <!-- <form action="postalservice" method="POST">
    <input type="text" name="testing" placeholder="" required>
    <input type="submit">
  </form> -->
    <form method="POST" action="/testpost">
      <div class="form-group">
        <input name="testinput1" class="form-control" required />
        <input name="testinput2" class="form-control" required />
        <input type="submit" class="btn btn-secondary" />
      </div>
    </form>
  </body>
</html>
