<html>
  <head>
    <%-include('header')-%> <%-include('navbar')-%>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row h-25"></div>
      <div class="row justify-content-center h-50">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block"><%=title%></span><br />
          <a href="/" class="btn btn-dark">Return to homepage</a>
        </div>
      </div>
      <div class="row h-25"></div>
    </div>
  </body>
</html>
