<html>
  <head>
    <%-include('header')-%> <%-include('navbar')-%>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <script src="../javascripts/register.js"></script>
    <script>
      window.history.pushState('', '', '/register');
    </script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row" style="min-height: 10%"></div>
      <h1 style="color: red"><%= errormessage1 %></h1>
      <h1 style="color: red"><%= errormessage2 %></h1>
      <div class="row h-25">
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
        <div class="col-lg-4 col-md-4 col-sm-8">
          <div class="card">
            <h4 class="card-header text-center">Register form</h4>
            <div class="card-body">
              <form onsubmit="return formCheck()" action="registerPost" method="POST">
                <div class="form-group">
                  <div class="form-row text-center">
                    <div class="col-6 form-group">
                      <label>First name</label>
                      <input type="text" name="firstname" required class="form-control" placeholder="First name" />
                    </div>
                    <div class="col-6 form-group">
                      <label>Last name</label>
                      <input type="text" name="lastname" required class="form-control" placeholder="Last name" />
                    </div>
                  </div>
                  <label>Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com" required />
                  <label>Username</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="username" required />
                  <label>Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="*****" required />
                  <label>Confirm password</label>
                  <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" placeholder="*****" required />
                  <label>Authentication key for group</label>
                  <input type="text" class="form-control" name="authkey" required placeholder="123abc!#¤" />
                  <input class="btn btn-dark mt-4 w-100" type="submit" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2"></div>
      </div>
    </div>
  </body>
</html>
